{% extends 'account/header.html' %}
{% load crispy_forms_tags %}

        <!-- body {
            margin: 50px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .login{
            justify-content: center;
        }  -->
        <body>
            <div style="width:800px; text-align: center; margin:0 auto;">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-12">
                {% block content %}
                <form method="POST" class='loginform' >
                    {% csrf_token %}
                    {{ form | crispy }}
                    {% for message in messages %}
                    <h1>{{ message }}</h1>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">LOGIN</button>
                    <p class="text-center">Don't have an account? <a href="signup">Create an account</a>.</p>
                </form>
                {% endblock %}
                    </div>
                </div>                    centered content
            
            </div>
        </body>