{% extends 'account/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <h1>{{user}}</h1>
    <!-- <p>want to improve your profile click here <a href ="make_profile">Update profile</a></p> -->
    <p>Show {{user}}profile  <a href ="/userview">show profile</a></p>
    
   

        
        <button class="btn btn-primary" type="submit">submit</button>
    </form> -->
</body>
{% endblock %}
</html>
