{% extends 'feed/landing.html' %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


{% block content %}

<div class = "container">
  <div class = "row  mt-5">
      <div class="col-md-5 col-sm-6 ">
        <a href="{% url 'post-list' %}">back to the feed</a>
      </div>
 </div>

  <body style="background-color:whitecream;"></body>

  <div class = "row justify-content-center mt-3 col-md-12">
    <div class="col-md-5 col-sm-12 border-bottom-12">
      <h5><p>Users of <b>Contify</b> social Network</p></h5>
    {% if list %}
      <ul>
        {% for l in list %}
        <li>
          <img src="{{l.image.url}}" width="25" height="25" enctype = "multipart/form-data"/></p>
      
          <p>{{l.user}}      

        {% endfor %}
      </li>
    </ul>
    {% else %}
      <strong>ther are no list</strong>
    {% endif %}
    </div>
    </div>


</div>
{% endblock %}
</body>
</html>